<%- include('partials/header'); %>
<p hidden id="type"><%= action %></p>
<div class="jumbotron">
  <h1 id="question"></h1>
  <button type="button" name="1" id="1"></button>
  <button type="button" name="2" id="2"></button>
  <button type="button" name="3" id="3"></button>
  <button type="button" name="4" id="4"></button>
</div>
<form id="answersForm" action="" method="post">
  <input type="hidden" id="answers" name="answers" value="">
  <input type="hidden" id="friendsResult" name="friendsResult" value="<%= friendsResult %>">
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/quiz.js" charset="utf-8"></script>
<%- include('partials/footer'); %>
